# dependencies
node_modules/

# environment variables
.env

# API keys
keys/private.pem

# sqlite db
*.db
*.sqlite

# logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
contribbridge-implementation-guide.md
contribbridge-implementation-guide.docx
generate_keys.js
